/*full page styling*/

body {
  position: relative;
  font-family: 'Lato';
}

h3 {
  text-align: center;
  font-size: 3em;
}

h4 {
  text-align: center;
  font-size: 2em;
}


/* Navbar */

.container {
  display: none;
  cursor: pointer;
  margin: 5px 10px;
  position: absolute;
  top: 0;
  right: 10px;
}

.display-burger {
  display: inline-block;
}

@media screen and (min-width: 600px) {
  .container {
    display: none;
  }
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (max-width: 350px) {

.topnav a {
  padding: 10px;
  }
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a:hover {
    background-color: #333;
    color: #f2f2f2;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* Rotate first bar */

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
  opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


/*no JS Navbar*/

noscript>a {
  display: none !important;
}

@media screen and (max-width: 600px) {
  noscript>a {
    display: block !important;
  }
}


/*Homepage */

.parallax>h1 {
  text-align: center;
  font-size: 8em;
  margin: 0 auto;
  padding: 5%;
}
@media screen and (max-width: 350px) {
.parallax>h1 {
    font-size: 6em;
  }
}

#home h2 {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 3% 5%;
  background-color: #333;
  color: white;
  font-size: 2.5em;
  border-radius: 8px;
}


/*parallax*/

.parallax {
  /* The image used */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("dmitri-popov-192369.jpg");
  margin: auto;
}


/* setting height of page to size of screen */

.pageHeight {
  height: 100vh;
}


/* styling about section and creating tabbing design */

.aboutContainer {
  box-sizing: border-box;
}

.aboutContainer {
  position: relative;
  width: 600px;
  margin: 0 auto;
  z-index: 0;
  color: white;
}

@media screen and (max-width: 600px) {
  .aboutContainer {
    max-width: 500px;
    width: auto;
  }
}

.aboutContainer:after {
  content: 'BAJA';
  position: absolute;
  left: 0;
  top: 38px;
  width: 100%;
  font-size: 1.8em;
  text-align: center;
  background-color: dimgrey;
  padding: 40px 0;

}

.aboutButton {
  cursor: pointer;
  display: inline-block;
  background-color: dimgrey;
  color: white;
  text-align: center;
  transition: .25s ease;
  border: none;
  padding: 10px;
  border-radius: 12px 12px 0 0;
  width: 197px;
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .aboutButton {
    width: auto;
  }
}


.aboutContent:focus .aboutButton, .aboutButton:focus {
  background-color: #333;
  outline: none;
}

.aboutButton:focus+p, .aboutContent:focus P {
  display: block;
  position: absolute;
  background-color: #333;
  height: auto;
  width: 100%;
  left: 0;
  z-index: 2;
  outline: none;
  top: 38px;
  font-size: 1.5em;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
  padding: 48px 100px;
  min-height: 200px;
box-sizing: border-box;
margin:0;

}

.aboutContent:last-child .aboutButton{
  width:199.5px;

}

.p_about {
  display: none;
  font-size: 2em;
  color: white;
}

.aboutContent {
  display: inline-block;
}

.aboutContent:focus {
  outline: none;
}

.p {
  margin-top: 300px;
  text-align: center;
  display: block;
  font-size: 1em;
}


/*Our Team*/

#team::after {
  content: "";
  display: table;
  clear: both;
}

.gallery {
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  height: auto;
  display: inline-block;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 10px grey;
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallery:hover {
  border: 1px solid #777;
}

.fa {
  color: black;
  font-size: 3em;
}

blockquote {
  text-align: center;
}

.team_container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}


/*media quiery for stacking team information*/

@media screen and (max-width: 800px) {
  .team_container {
    display: block;
  }
}

@media screen and (max-width: 695px) {
  .team_container {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-header {
  padding: 30px;
}


/*CONTACT*/

#contact input, textarea, button {
  display: block;
  margin: 1% auto;
  padding: 1%;
  box-sizing: border-box;
  font-size: 1.5rem;
  border: solid 1.1px;
  width: 50%;
}

@media(max-width: 600px) {
  #contact input, textarea, button {
    width: 90%;
  }
}

#message {
  height: 20vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer>img {
  width: 15%;
  height: 15%;
}
